@{
    ViewData["Title"] = "Home Page";
    @model List<ToDoItem>
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        
        @foreach (var item in Model)
        {
            <p>TodoItem no. @item.Id</p>
            <p>Description: @item.Name</p>
            <p>Completed: @item.IsComplete</p>
            <br/>
        }
    </div>
